.d-flex {
  display: flex;
}

.d-block {
	display: block;
}

.d-flex-column {
	display: flex;
	flex-direction: column;
}

.justify-center {
	justify-content: center;
}

.justify-between {
	justify-content: space-between;
}

.justify-around {
	justify-content: space-around;
}

.justify-start {
	justify-content: flex-start;
}

.justify-end {
	justify-content: flex-end;
}

.align-center {
	align-items: center;
}

.align-start {
	align-items: flex-start;
}

.align-end {
	align-items: flex-end;
}

.full-width {
	width: 100%;
}

.full-height {
	height: 100%;
}

.full-vh {
	height: 100vh;
}

.p-relative {
	position: relative;
}

.p-absolute {
	position: absolute;
}

.p-fixed {
	position: fixed;
}