@use './variables' as v;
@use '@/styles/spacing.scss' as s;

*,
*:after,
*:before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

ul li,
ol li {
	list-style: none;
}

a {
	text-decoration: none;
	color: v.$text-color-dark;
}

html {
  font-size: 62.5%;
	overflow-x: hidden;
}

body {
  font-size: 1.6rem;
	font-family: "Poppins", sans-serif;
	overflow-x: hidden;
}