// Colors
$text-color-dark: #4b4b4b;
$text-color-light: #eeeeee;

$bg-black: #1b1b1b;
$bg-white: #dbdbdb;
$white: #fff;

$primary-color-10: #FFEE58;
$primary-color-20: #FFEB3B;
$primary-color-30: #FDD835;
$primary-color-40: #FBC02D;

$secondary-color-10: #29B6F6;
$secondary-color-20: #03A9F4;
$secondary-color-30: #039BE5;
$secondary-color-40: #0288D1;

$accent-color: #E53935;

// Dimensions
$default-border-radius: 3px;

// Transitions
$speed5: 0.15s ease-in-out;
$speed4: 0.25s ease-in-out;
$speed3: 0.35s ease-in-out;
$speed2: 0.5s ease-in-out;

