@use "sass:map";
@use '@/styles/spacing.scss' as s;
@use '@/styles/variables.scss' as v;

// ---- Config ----
$lg-breakpoint: map.get(s.$breakpoints, lg);
$xl-breakpoint: map.get(s.$breakpoints, xl);

.content,
.image {
  width: 50%;
  height: 100vh;
}

.image {
    display: flex; 
    position: relative;

    &:after {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      height: 100vh;
      background-image: url('../../assets/IMG_2474.jpg');
      background-attachment: fixed;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 100%;
    }
}