@use '@/styles/spacing.scss' as s;
@use '@/styles/variables.scss' as v;

$mobile-navigation-height: 60px;

.navigation {
  position: sticky;
  top: 0;
  height: 60px;
  background-color: v.$primary-color-40;
  z-index: 20;

  &__hamburger {
    gap: 6px;
    position: absolute;
    right: 6px;
    top: 10px;
    width: 40px;
    height: 40px;
    z-index: 10;
    transition: all 0.15s ease-in-out;

    span {
      display: block;
      width: 26px;
      height: 3px;
      background-color: v.$text-color-light;
      border-radius: 2px;
      transition: all 0.15s ease-in-out;

    }

    &.active {
      transform: translateX(7px);

      span:nth-child(1) {
        transform:
          rotate(45deg) 
          translateY(6px) 
          translateX(6px);
      }

      span:nth-child(2) {
        opacity: 0;
      }

      span:nth-child(3) {
        transform: 
          rotate(-45deg)
          translateY(-7px) 
          translateX(6px);
      }
    }
  }

  &__list {
    background-color: v.$primary-color-40;
    opacity: 0;
    z-index: 8;
    transform: translateX(-100%);
    transition:
      transform 0.15s ease-in-out, 
      opacity 0.35s ease-in-out;

    li {
      transform: translateX(-40px);
      transition: all 0.35s 0.15s;

      a {
        color: v.$text-color-light;
        font-weight: 600;
      }
    }

    &.visible {
      opacity: 1;
      transform: translateX(0);

      li {
        transform: translateX(0);
      }
    }
  }
}

.header {
  height: calc(100vh - $mobile-navigation-height);
  background-image: url('../../assets/IMG_2474.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 40%);
  }
}

.router-link-active {
  color: v.$text-color-dark !important;

  &:before {
    content: '- ';
  }
}