@use "sass:map";
@use '@/styles/spacing.scss' as s;
@use '@/styles/variables.scss' as v;

$mobile-navigation-height: 60px;

.navigation {
  position: sticky;
  top: 0;
  height: 60px;
  background-color: v.$primary-color-40;
  z-index: 20;

  &__hamburger {
    gap: 6px;
    position: absolute;
    right: 6px;
    top: 10px;
    width: 40px;
    height: 40px;
    z-index: 10;
    transition: all 0.15s ease-in-out;

    span {
      display: block;
      width: 26px;
      height: 3px;
      background-color: v.$text-color-light;
      border-radius: 2px;
      transition: all 0.15s ease-in-out;

    }

    &.active {
      transform: translateX(7px);

      span:nth-child(1) {
        transform:
          rotate(45deg) 
          translateY(6px) 
          translateX(6px);
      }

      span:nth-child(2) {
        opacity: 0;
      }

      span:nth-child(3) {
        transform: 
          rotate(-45deg)
          translateY(-7px) 
          translateX(6px);
      }
    }

    @media (min-width: map.get(s.$breakpoints, lg)) {
      display: none;
    }
  }

  &__list {
    background-color: #fff;
    opacity: 0;
    z-index: 8;
    transform: translateX(-100%);
    transition:
      transform 0.15s ease-in-out, 
      opacity 0.35s ease-in-out;

    li {
      transform: translateX(-40px);
      transition: all 0.35s 0.15s;

      a {
        color: v.$text-color-light;
        font-weight: 600;
      }
    }

    &.visible {
      opacity: 1;
      transform: translateX(0);

      li {
        transform: translateX(0);
      }
    }

    @media (min-width: map.get(s.$breakpoints, lg)) {
      display: flex;
      align-items: center;
      gap: map.get(s.$spacing-scale-desktop, lg);
      height: $mobile-navigation-height;
      opacity: 1;
      transform: translateX(0);

      li {
        margin-bottom: 0;
        transform: translateX(0);

        a {
          color: v.$text-color-dark;
        }
      }
    }

    @media (min-width: map.get(s.$breakpoints, xl)) {
      background-color: transparent;
    }
  }

  @media (min-width: map.get(s.$breakpoints, lg)) {
    position: absolute;
    background-color: transparent;
  }
}

.header {
  height: calc(100vh - $mobile-navigation-height);
  background-image: url('../../assets/IMG_2474.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;

  &__content {
    position: relative;
    color: v.$text-color-light;
    z-index: 8; 
  }

  &__image {
    display: none;
  }

  @media (min-width: map.get(s.$breakpoints, lg)) {
    height: 100vh;
  }

  @media (min-width: map.get(s.$breakpoints, xl)) {
    background-image: none;

    &__content,
    &__image {
      width: 50%;
      height: 100vh;
    }

    &__content {
      color: v.$text-color-dark;
    }

    &__image {
      display: flex;

      img {
        object-fit: cover;
        height: 100vh;
        width: auto;
      }
    }
  }
}

.router-link-active {
  color: v.$primary-color-10 !important;

  &:before {
    content: '- ';
  }

  @media (min-width: map.get(s.$breakpoints, lg)) {
    color: v.$text-color-dark !important;

    &:before {
      content: '';
    }
  }
}