@use "sass:map";
@use '@/styles/spacing.scss' as s;
@use '@/styles/variables.scss' as v;

// ---- Config ----
$mobile-nav-h: 60px;
$lg-breakpoint: map.get(s.$breakpoints, lg);
$xl-breakpoint: map.get(s.$breakpoints, xl);
$home-bg-image: url('../../assets/home-3.jpg');

// ---- Navigation ----
.navigation {
  position: fixed;
  top: 0;
  z-index: 20;
  height: $mobile-nav-h;
  background-color: v.$white;

  @media (min-width: $lg-breakpoint) {
    background-color: transparent;
  }

  &__hamburger {
    position: absolute;
    right: 6px;
    top: 10px;
    z-index: 10;
    width: 40px;
    height: 40px;
    gap: 6px;
    transition: all v.$speed5;

    span {
      display: block;
      width: 26px;
      height: 3px;
      background-color: v.$text-color-dark;
      border-radius: 2px;
      transition: all v.$speed5;
    }

    &.active {
      transform: translateX(7px);
      span:nth-child(1) { transform: rotate(45deg) translateY(6px) translateX(6px); }
      span:nth-child(2) { opacity: 0; }
      span:nth-child(3) { transform: rotate(-45deg) translateY(-7px) translateX(6px); }
    }

    @media (min-width: $lg-breakpoint) {
      display: none;
    }
  }

  &__list {
    background-color: v.$white;
    z-index: 8;
    opacity: 0;
    transform: translateX(-100%);
    transition: transform v.$speed5, opacity v.$speed3;

    li {
      transform: translateX(-60px);
      transition: all v.$speed3 0.05s;

      a { 
        color: v.$text-color-dark; font-weight: 600; 
      }
    }

    &.visible {
      opacity: 1;
      transform: translateX(0);

      li { 
        transform: translateX(0); 
      }
    }

    @media (min-width: $lg-breakpoint) {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      height: $mobile-nav-h;
      gap: map.get(s.$spacing-scale-desktop, lg);
      background-color: v.$white;
      opacity: 1;
      transform: translateX(0);

      li {
        margin-bottom: 0;
        transform: translateX(0);
      }
    }

    @media (min-width: $xl-breakpoint) {
      position: relative;
      background-color: transparent;

      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: $mobile-nav-h;
        background-color: v.$white;
        z-index: -1;
      }
    }
  }
}

// ---- Header ----
.header {
  height: 100vh;
  background: $home-bg-image;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  &__content {
    position: relative;
    background-color: rgba(14, 14, 14, 0.5);
    z-index: 8;
    color: v.$text-color-light;
    opacity: 0;
    transform: translateY(10px) scale(0.75);
    transition: transform v.$speed4, opacity v.$speed2, background-color 5s;

    &.show-content {
      opacity: 1;
      transform: translateY(0) scale(1);
    }

    .top-section {
      position: relative;
      height: 30vh;

      h1 {
        font-size: 4rem;
      }

      @media (min-width: $xl-breakpoint) {
        h1, p {
          z-index: 2;
          background-color: v.$white;
        }

        &:after {
          content: '';
          position: absolute;
          left: 50%;
          top: -20px;
          height: 0;
          border-right: 2px solid #f0f0f0;
          transition: all 0.25s ease-in-out;
        }

        &.draw-line {
          &:after {
            height: 100%;
          }
        }
      }
    }

    .upcoming-event {
      opacity: 0;
      transform: translateY(-30px) scale(0.95);
      transition: all 0.25s ease-in-out;

      &.upcoming-event-visible {
        opacity: 1;
        transform: translateY(-10px) scale(1);
      }
    }

    .contact-me-button {
      z-index: 2;

      &__inner {
        background-color: v.$primary-color-40;
        color: v.$text-color-dark;
        border-radius: v.$default-border-radius;
        font-size: 1.9rem;
        font-weight: 600;
        transition: all v.$speed5;

        &:hover {
          background-color: v.$text-color-dark;
          color: v.$text-color-light;
        }
      }

      @media (min-width: $xl-breakpoint) {
        background-color: v.$white
      }
    }

    @media(min-width: $xl-breakpoint) {
      background-color: transparent;
      // background: radial-gradient(circle,rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(235, 235, 235, 1) 100%);
      padding: 0
    }
  }

  &__image {
    display: none;
  }

  @media (min-width: $xl-breakpoint) {
    display: flex;
    background: none;

    &__content,
    &__image {
      width: 50%;
      height: 100vh;
    }

    &__content {
      color: v.$text-color-dark; 
    }
    
    &__image {
      display: flex; 
      position: relative;

      &:after {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background-image: $home-bg-image;
        background-attachment: fixed;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 100%;
      }
    }
  }
}

// ---- Global/Router Links ----
.router-link-active:not(.contact-me-button__inner) {
  color: v.$primary-color-40 !important;

  &:before {
    content: '- '; 
  }

  @media (min-width: $lg-breakpoint) {
    &:before { 
      content: ''; 
    }
  }
}